*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    width:100%;
    height:100vh;
    background:#b9ecff;

    display:flex;
    justify-content:center;
    align-items:center;
}

.counter-box{

    width:420px;
    height:320px;

    background:white;

    border:4px solid black;

    border-radius:60px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    box-shadow:0 0 30px rgba(0,0,0,.35);
}

.counter-box h1{

    font-size:38px;
    margin-bottom:30px;
}

.counter-box h2{

    font-size:45px;
    margin-bottom:40px;
}

.btn{

    width:170px;
    height:55px;

    border:none;

    border-radius:18px;

    background:#009dff;

    color:white;

    font-size:22px;

    cursor:pointer;

    transition:.4s;
}

.btn:hover{

    transform:scale(1.08);
}

.active{

    background:#28a745;
}